
*{
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
background-image: url('./empty-living-room-with-blue-sofa-plants-and-table-on-empty-white-wall-background-3d-rendering.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: top;
}

.form{
  position:fixed;
  top:50%;
  left:25%;
  transform: translate(-50%,-50%);
  width:350px;
  text-align:center;
  padding: 40px 40px 60px;
  border-radius:10px;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),-5px -5px 15px rgba(0,0,0,0.5);
}
.form h2{
  text-transform:uppercase;
  color:#b8796c;
  letter-spacing:4px;
  font-weight:500;
}

.form .input{
  margin-top:40px;
  text-align:left;
}
.form .input .input-box{
  margin-top:20px;
}
.form .input .input-box input{
  margin-top:10px;
  width:100%;
  height:50px;
  background:transparent;
  border:none;
  outline:none;
  border-radius:40px;
  padding:5px  15px;
  color:#559a92;
  font-size:15px;
  box-shadow: inset -2px -2px 6px rgb(255 255 255 / 90%), inset 2px 2px 6px rgb(0 0 0 / 32%)
}

.form .input .input-box input[type="submit"]{
  margin-top:20px;
  box-shadow: -2px -2px 6px rgba(255,255,255,0.1),2px 2px 6px rgba(0,0,0,0.8);
}
.form .input .input-box input[type="submit"]:active{
  color:#006c9c;
 box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),inset 2px 2px 6px rgba(0,0,0,0.8); 
}

.form .input .input-box input::placeholder{
  color:#555;
}
.forget{
  margin-top:30px;
  color:#555;
}
.forget a{
  text-decoration:none;
  color:#006c9c;
}

.login-Here{
 
  text-decoration: none;
  color: #b8796c;
  font-weight: 600;
}

span {
  font-size: 13px;
  color: #848484;
}
.account {
  position: relative;
  top: 28px;
  display: block;
  text-align: center;
}
/* @import url("https://fonts.googleapis.com/css?family=Jura:400");
* {
  
  font-weight: 400;
}

body {
  padding: 0px;
  margin: 0px;
  font-family:  sans-serif;
 
  grid-template-columns: 1fr minmax(200px, 400px) 1fr;
  grid-template-rows: 1fr minmax(auto, 1fr) 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
  box-sizing: border-box;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  text-decoration: none;
 
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login,
.register {
  width: 400px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-gap: 10px;
  margin: auto 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.check {
  font-size: 16px;
} */
